{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSUTHPHARMACY PRICE LIST</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="/">
                <img src="{% static 'images/logo.jpeg' %}" alt="Logo" class="navbar-logo">
                <strong>RSUTHPHARMACY</strong>
            </a>
            <form class="d-flex search-bar" method="GET" action="{% url 'index' %}">
                <select class="form-select search-input" name="category" style="max-width: 120px;">
                    <option value="all" {% if not selected_category %}selected{% endif %}>All</option>
                    {% for category in categories %}
                        <option value="{{ category.slug }}" {% if selected_category and selected_category.slug == category.slug %}selected{% endif %}>
                            {{ category.name }}
                        </option>
                    {% endfor %}
                </select>
                <input class="form-control search-input" type="search" name="search" placeholder="Search Drugs" value="{{ search_query }}" aria-label="Search">
                <button class="btn search-btn" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>
    </nav>

    <div class="sub-nav">
        {% for category in categories %}
            <a href="{% url 'category_detail' category.slug %}"
               {% if selected_category and selected_category.slug == category.slug %}
                   class="active"  <!-- Add an active class to the selected category -->
               {% endif %}
            >{{ category.name }}</a>
        {% endfor %}
    </div>
    
    <div class="container mt-4">
        {% if selected_category %}
        <h2 class="mb-4">{{ selected_category.name }}</h2>
    {% else %}
        <h2 class="mb-4">All Products</h2>
    {% endif %}

    {% if page_obj %}
        <div class="row">
            {% for product in page_obj %}
            <div class="col-6 col-md-3 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if product.brand_name %}
                                {{ product.brand_name }}
                            {% endif %}
                        </h5>
                        <p class="card-text">
                            {% if product.generic_name %}
                                <strong>{{ product.generic_name }}</strong>
                            {% endif %}
                        </p>

                        {% if product.price_per_unit %}
                            <p class="card-text"><strong>N{{ product.price }}/1</strong></p>
                        {% else %}
                            <p class="card-text"><strong>N{{ product.price }}</strong></p>
                        {% endif %}

                        {% if search_query %}  {# Show category name only if a search was performed #}
                        <p class="text-muted">Category: {{ product.category.name }}</p>
                    {% endif %}

                        {% if product.is_out_of_stock %}
                            <p class="text-danger">Out of stock in store</p>
                        {% else %}
                            {% if product.quantity_available %}
                                <p class="text-muted">{{ product.quantity_available }} remaining in store</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="text-center text-muted">No products found matching your search.</p>
    {% endif %}

        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo; Previous</span>
                        </a>
                    </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active">
                            <span class="page-link">{{ num }}</span>
                        </li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% elif num == 1 or num == page_obj.paginator.num_pages %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% elif num == page_obj.number|add:'-3' or num == page_obj.number|add:'3' %}
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">Next &raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <div id="back-to-top">
        <a href="#">Back to top</a>
    </div>

    <footer class="bg-dark text-light mt-5">
        <div class="container text-center">
            <p class="mb-1">Built by Chistev</p>
            <p>
                <a href="mailto:chistev12@gmail.com" class="text-light">
                    <i class="bi bi-envelope"></i> Email me for business
                </a>
            </p>
        </div>
    </footer>

    <script src="{% static 'javascript/backToTop.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</body>
</html>
